<h1>Welcome {{user_name}} ! </h1>

<h2>Categories</h2>
<form class="form create-account-form">
{{!-- <ul>
  <li><a href="/category/breakfast">Breakfast</a></li>
  <li><a href="/category/lunch">Lunch</a></li>
  <li><a href="/category/dinner">Dinner</a></li>
</ul> --}}
  <button class="btn btn-primary" type="submit">Add Recipe</button>
</form>
{{#each recipes as |recipe| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>Recipe: {{recipe.recipeName}}</h2>
    <p>Ingredients: {{recipe.ingredients}}</p>
    <p>Method: {{recipe.method}}</p>
    <p>Category: {{recipe.category}}</p>
  </div>
  <aside class="recipeImage">
    <img src="/assets/{{recipe.id}}.png" alt="{{recipe.recipeName}}">
  </aside>
  </div>
{{/each}}

  <script src="/js/home.js"></script>


